In [2]:
import numpy as np
import pandas as pd

def make_newdf():
    data = pd.read_csv('gender2.csv', encoding='ANSI', index_col='행정구역')
    display(data)
    
    total = data['2022년_계_총인구수']
    male = data["2022년_남_총인구수"]
    female = data["2022년_여_총인구수"]
    data_selected = {'Total':total, 'Male':male, "Female":female}
    
    df = pd.DataFrame(data_selected)
    display(df)

    
def main():
    make_newdf()
    
if __name__ == "__main__":
    main()

,2022년_계_총인구수,2022년_계_연령구간인구수,2022년_계_10~19세,2022년_계_20~29세,2022년_계_30~39세,2022년_남_총인구수,2022년_남_연령구간인구수,2022년_남_10~19세,2022년_남_20~29세,2022년_남_30~39세,2022년_여_총인구수,2022년_여_연령구간인구수,2022년_여_10~19세,2022년_여_20~29세,2022년_여_30~39세
행정구역,,,,,,,,,,,,,,,
전국 (0000000000),"51,439,038","17,735,888","4,703,196","6,417,181","6,615,511","25,636,951","9,214,052","2,423,599","3,361,589","3,428,864","25,802,087","8,521,836","2,279,597","3,055,592","3,186,647"
서울특별시 (1100000000),"9,428,372","3,564,409","749,118","1,389,483","1,425,808","4,570,048","1,760,563","383,649","664,239","712,675","4,858,324","1,803,846","365,469","725,244","713,133"
부산광역시 (2600000000),"3,317,812","1,057,759","265,934","395,398","396,427","1,619,915","544,302","136,736","204,011","203,555","1,697,897","513,457","129,198","191,387","192,872"
대구광역시 (2700000000),"2,363,691","791,352","217,532","294,363","279,457","1,162,865","416,741","112,716","156,048","147,977","1,200,826","374,611","104,816","138,315","131,480"
인천광역시 (2800000000),"2,967,314","1,054,528","272,740","376,526","405,262","1,485,175","546,717","140,015","196,168","210,534","1,482,139","507,811","132,725","180,358","194,728"
광주광역시 (2900000000),"1,431,050","526,893","150,857","198,619","177,417","707,299","272,888","78,136","103,581","91,171","723,751","254,005","72,721","95,038","86,246"
대전광역시 (3000000000),"1,446,072","532,166","140,288","203,887","187,991","721,245","278,259","72,535","106,826","98,898","724,827","253,907","67,753","97,061","89,093"
울산광역시 (3100000000),"1,110,663","379,046","110,202","129,209","139,635","570,368","205,747","57,741","73,073","74,933","540,295","173,299","52,461","56,136","64,702"
세종특별자치시 (3600000000),"383,591","148,464","49,002","38,379","61,083","191,389","74,301","24,647","19,705","29,949","192,202","74,163","24,355","18,674","31,134"
경기도 (4100000000),"13,589,432","4,947,317","1,327,726","1,737,291","1,882,300","6,839,276","2,574,811","680,443","916,141","978,227","6,750,156","2,372,506","647,283","821,150","904,073"
강원도 (4200000000),"1,536,498","462,692","132,133","170,194","160,365","772,947","249,117","68,543","95,604","84,970","763,551","213,575","63,590","74,590","75,395"
충청북도 (4300000000),"1,595,058","521,624","145,882","188,310","187,432","810,782","281,969","75,584","104,821","101,564","784,276","239,655","70,298","83,489","85,868"
충청남도 (4400000000),"2,123,037","686,873","202,299","231,139","253,435","1,086,632","370,258","104,744","128,393","137,121","1,036,405","316,615","97,555","102,746","116,314"
전라북도 (4500000000),"1,769,607","542,330","167,541","198,284","176,505","880,592","285,712","86,549","107,645","91,518","889,015","256,618","80,992","90,639","84,987"
전라남도 (4600000000),"1,817,697","519,798","161,566","185,970","172,262","915,272","277,927","83,264","104,135","90,528","902,425","241,871","78,302","81,835","81,734"
경상북도 (4700000000),"2,600,492","750,267","220,579","261,320","268,368","1,311,881","408,806","115,633","148,701","144,472","1,288,611","341,461","104,946","112,619","123,896"
경상남도 (4800000000),"3,280,493","1,022,238","318,924","341,089","362,225","1,651,675","547,771","165,885","191,246","190,640","1,628,818","474,467","153,039","149,843","171,585"
제주특별자치도 (5000000000),"678,159","228,132","70,873","77,720","79,539","339,590","118,163","36,779","41,252","40,132","338,569","109,969","34,094","36,468","39,407"

                            Total        Male      Female
행정구역
전국  (0000000000)       51,439,038  25,636,951  25,802,087
서울특별시  (1100000000)     9,428,372   4,570,048   4,858,324
부산광역시  (2600000000)     3,317,812   1,619,915   1,697,897
대구광역시  (2700000000)     2,363,691   1,162,865   1,200,826
인천광역시  (2800000000)     2,967,314   1,485,175   1,482,139
광주광역시  (2900000000)     1,431,050     707,299     723,751
대전광역시  (3000000000)     1,446,072     721,245     724,827
울산광역시  (3100000000)     1,110,663     570,368     540,295
세종특별자치시  (3600000000)     383,591     191,389     192,202
경기도  (4100000000)      13,589,432   6,839,276   6,750,156
강원도  (4200000000)       1,536,498     772,947     763,551
충청북도  (4300000000)      1,595,058     810,782     784,276
충청남도  (4400000000)      2,123,037   1,086,632   1,036,405
전라북도  (4500000000)      1,769,607     880,592     889,015
전라남도  (4600000000)      1,817,697     915,272     902,425
경상북도  (4700000000)      2,600,492   1,311,881   1,288,611
경상남도  (4800000000)      3,280,493   1,651,675   1,628,818
제주특별자치도  (5000000000)     678,159     339,590     338,569